@font-face {
    font-family: Inter;
    src: url(../fonts/Inter.ttf);
}
@font-face {
    font-family: Inter-Italic;
    src: url(../fonts/Inter-Italic.ttf)
    url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
}
@font-face {
    font-family: Jersey10;
    src: url(../fonts/Jersey10.ttf)
    url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
}

