@font-face {
    font-family: Inter;
    src: url(../fonts/Inter.ttf);
}
@font-face {
    font-family: Inter-Italic;
    src: url(../fonts/Inter-Italic.ttf);
}
@font-face {
    font-family: Jersey10;
    src: url(../fonts/Jersey10.ttf);
}

